*{ /* reiniciar algunos estilos del navegador*/
    margin: 0;
    padding: 0;
}

body{
	padding: 40px;
	font-family:"Angsana New","Franklin Gothic Book" ;
	font-size: 18px;
	background-color: #005883;
}

/* Cabecera */
header {
	text-align: center;
	background-color: #B3B3B3;
	padding: 20px 0px;
}

img{
	height: 100px;
}

section{
	margin-top: 15px;
	max-width: 79%;
	display: inline-block;
}

article{
	max-width: 45%;
	margin-top: 30px;
	margin-bottom: 10px;
	display: inline-block;
	text-align: justify;
	height: 370px;
	background-color: #B3B3B3;
	padding: 15px 15px;
}

aside{
	position: absolute;
	margin-top: 45px;
	display: inline-block;
}

footer{
	margin-top: 35px;
	text-align: center;
	font-weight: bold;
	padding: 25px 0px;
	background-color: #F0B429;
}

.cabeceraPrincipal{
	text-align:center;
}

.titulo{
	font-size: 80px;
	color: #005884;
}


.articuloCentral{
	margin: 0px 2px;
	display: inline-block;
}


.tituloArticulo{
	text-align: center;
	font-weight:bold;
	margin-bottom: 15px;
}

