*{ /* reiniciar algunos estilos del navegador*/
    margin: 0;
    padding: 0;
}

body{
	padding: 40px;
	font-family:"Segoe IU", sans-serif;
	font-size: 18px;
	background-color: #005884;
}

/* Cabecera */
header {
	text-align: center;
	background-color: #BCBEC0;
	padding: 20px 0px;
}

.cabeceraPrincipal{
	margin:0px auto;
	text-align:center;
}

.cabecera{
	display: inline-block;
	vertical-align:middle;
}

img{
	height: 100px;
}

.titulo{
	font-size: 72px;
	margin-left: 100px;
}

/* Menu */
nav{
	text-align: center;
	margin-top: 10px;;
	padding: 5px 0px;
	background-color: #F1B529;
}

li a {
	text-decoration: none;
	margin: 0px 50px;
	font-weight: bold;
	font-size: 20px;
	color: black;
}

.menu{
	display: inline-block;
}

.listaSubMenu{
	display: none;
	position: absolute;
}

.listaSubMenu a{
	padding-top: 5px;
    color: black;
	display: block;
	background-color: #F47920;
	font-size: 16px;
}


.menu:hover .listaSubMenu{
    display: block;
    text-align: left;
    list-style: none;
}

li a:hover{
	background-color: #58595B;
	color: #FFFFFF;
	padding: 3px 5px;
}

.menuSeleccionado{
	background-color: #58595B;
	color: #FFFFFF;
	padding: 3px 5px;
}

/* Cuerpo */
section{
	margin-top: 15px;
	max-width: 79%;
	display: inline-block;
}

article{
	max-width: 45%;
	margin-top: 30px;
	margin-bottom: 10px;
	display: inline-block;
	text-align: justify;
	height: 370px;
	background-color: #BCBEC0;
	padding: 15px 15px;
}

.articuloCentral{
	margin: 0px 2px;
	display: inline-block;
}

aside{
	position: absolute;
    margin-top: 45px;
	display: inline-block;
}

footer{
	margin-top: 35px;
	text-align: center;
	font-weight: bold;
	padding: 25px 0px;
	background-color: #F47920;
}

/*Articulos*/
.tituloArticulo{
	text-align: center;
	font-weight:bold;
	margin-bottom: 15px;
}


